body {
  height: 1000vh;
}

.box-first {
  border: 2px solid;
  height: 100px;
  width: 100px;
}
.container {
  position: sticky;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aqua;
}
